<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_bot_updated">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import my_bot_updated urdf file -->
    <xacro:include filename="$(find my_bot_updated)/urdf/my_bot_updated.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="my_bot_updated.ros2_control.xacro" />


    <xacro:my_bot_updated_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
